@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans+Condensed');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

html,
body,
.root {
  height: 100%;
  font-family: 'Fira Sans Condensed', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  color: dimgray;
  font-size: 1.8rem;
  line-height: 1.5;
}

body,
.app {
  background: white;
}
